/*
* 7.0 Media Queries
* --------------------------------------------------------------------
*/

@media (min-width: 1320px){
    #navigation_menu .navbar-nav {
        padding-left: 100px;
    }
    .home-box .box img{ 
        width: 100%;
        height: 240px;
    }
}

@media (min-width: 1190px) and  (max-width: 1320px){
    .header-right .btn-login {
        margin: 20px 0;
    }
    .home-box .box img{ 
        width: 100%;
        height: 240px;
    }
}
@media (max-width: 1200px){
    .home-box .box img{ 
        width: 100%;
        height: 196px;
    }
    #navigation_menu .navbar-nav > li {
        margin: 0 2px;
    }
    .site-header .btn-vietcap {
         margin-left: 15px;
    }
    .site-header .btn-golf-better {
        margin-right: 15px;
    }
    .header-right .btn-login {
        margin: 20px 0;
    }
    header a.menu-toggle {
        padding-left: 0px;
    }

    .join-now-banner a{
        width: 47%;
    }
    .list-clubs .club-detail .club-name {
        margin-top: 15px;
    }
    .register-form .inner-100 {
        padding: 15px !important
    }
    .member-card {
        margin-bottom: 20px;
    }
    .join-now-banner img {
        width: 100%;
    }
    .join-now-banner a {
       /*  width: auto; */
    }
    .join-now-banner {
        padding-left: 0px;
        text-align: center;
    }
}

@media (max-width: 990px){
    .home-box .box img{ 
        width: 100%;
        height: 147px;
    }
    body{
        font-size: 16px
    }

    h1{
        font-size: 26px;
    }
    h2{
        font-size: 22px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 16px;
    }
    h5{
        font-size: 14px;
    }
    h6{
        font-size: 12px;
    }

    blockquote{
        margin-left: 0.3em;
    }
    table {
      -ms-word-break: break-all;
     word-break: break-all;

    }
    .navbar-nav{
        float: none;
    }

    .sticky-post{
        padding: 3px 15px;
    }

    .entry-header,.entry-content,.entry-summary,.entry-footer{
        padding: 1em 1.5em;
    }

    .entry-footer{
        padding-bottom: 1em;
    }

    .featured-image{
        padding: 0.5em 0.5em;
    }

    .single-post-content{
        padding: 0 1.5em;
    }

    .post-comments,.comments-area{
        border: none;
        box-shadow: none;
        padding: 1.2em 1em;
        overflow: hidden;
        width: 100%;
    }

    .comment-content table{
        overflow: hidden;
    }
    .comment-list {
        padding: 10px;
    }

    .comment-list ol{
        padding-left: 10px;
    }
    input,textarea,iframe{
        width: 100%;
    }

    #submit,.search-submit{
        width: auto;
    }

    th, td {
      padding: 0.2em;
      text-align: left;
      border: 1px solid #B6B6B6;
    }
    .site-header {
        text-align: center;
    }

    .site-header .btn-vietcap {
         margin-left: 15px;
         margin-bottom: 15px;
    }
    .site-header .btn-golf-better {
        margin-right: 15px;
    }
    .site-header-info>div {
        text-align: center;
    }

    .inner-100 {
        padding: 15px 0px !important;
    }

    .pm-paypal img {
        margin-top: 0px;
    }
  }
@media (max-width: 767px) {
    .home-box .box img{ 
        width: 100%;
        height: auto;
    }
    body{
        font-size: 16px
    }
    .inner-70 {
        padding: 15px 0px !important;
    }
    .page-events.inner-70 {
        padding: 15px !important;
    }
    .header-right .btn-login {
        margin: 15px 0;
    }
    .inner-100 {
        padding: 15px 0px !important;
    }
    #navigation_menu .navbar-nav > li {
        padding: 5px;
        padding-left: 0px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #0b9347;
    }

    #logo img{
        height: 50px;
    }
    .navbar-default {
        border-bottom: 1px solid #e7e7e7;
    }
    .navbar-default .navbar-toggle {
        margin: 15px 0;
        border-color: #0b9347;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #0b9347;
    }
    .navbar-default .navbar-collapse {
        padding-left: 0px;
    }
    .site-header{
        position: relative;
        width: 100%;
        /* min-height: 170px; */
       /*  margin-bottom: 2em; */
    }

    .site-header .site-join-now h2{
        font-size: 24px;
    }
    .join-club .join-now-action {
        margin: 0px -15px;
    }

    .membership-info p {
        font-size: 24px;
    }
    .section-membership .price {
        margin-bottom: 10px;
        font-size: 24px;
        display: inline-block;
    }
    .site-title {
        font-size: 2.1em;
        letter-spacing: 10px;
    }

    .site-title::after{
        background-color: #fff;
        content:"";
        height: 1px;
        display: block;
        width: 20%;
        margin: 5px auto;
    }

    .site-description {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .site-footer{
        text-align: center;
    }
    .site-footer .site-info,
    .site-footer .app-store {
        text-align: center;
    }
    .site-footer .site-info {
        padding-bottom: 0px;
    }
    .site-header .btn {
        width: 100%;
        margin: 15px 0;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        border-top: none;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 0px 15px;
    }
    .navbar-nav {
        float: left;
    }

    .page-header {
        text-align: center;
        margin: 15px 0px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 0px;

    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
    }
    .join-now-banner {
        margin-top: 0px;
        text-align: center;
        padding-left: 0px;
    }
    .join-now-banner img{
        width: 100%;
    }
    .page-static {
        padding: 15px 0px;
    }
    .page-static h2 {
        font-size: 24px;
    }

    .page-static h3 {
        font-size: 22px;
    }
    .register-form input[name=first_name],
    .register-form input[name=middle_name],
    .register-form input[name=last_name],
    .register-form input[name=password]{
        margin-bottom: 10px;
    }
    .register-form .label-checkbox{
        margin-top: 15px;
    }
    .register-form .btn,
    .wrapper-btn-signin .btn {
        width: 100%;
        margin-bottom: 15px;
    }
    .payment-form {
        padding: 0px 15px;
    }
    .register-form .inner-100 {
        padding: 0px !important;
    }
    .register-form .checkbox-golf-club {
        margin-bottom: 15px;
    }
    .entry-header, .entry-content, .entry-summary, .entry-footer {
        padding: 15px;
    }
    .home-action .btn-download, .home-action .btn-associal {
       /*  margin: 10px 0px; */
    }
    .home-bank {
        background-size: cover;
        min-height: 120px;
    }
    .join-now-content .join-now-banner{
        margin-top: 15px;
        padding: 0px 15px;
    }
    .join-now-content .join-now-banner a{

    }
    .site-info-box {
        display: none;
    }
    .waiver-form .bottom-15 {
         margin-bottom: 15px;
    }
}
@media (max-width: 410px) {
    .site-header{
        position: relative;
        width: 100%;
        min-height: 100px;
/*         margin-bottom: 1.5em; */
    }

    .site-title {
        font-size: 2em;
        letter-spacing: 2px;
        margin-top: 5px;
        margin-bottom: 3px;
    }

    .site-title ::after{
        margin: 2px auto;
    }

    .site-description {
        font-size: 8px;
        letter-spacing: 0px;
        margin-top: 1px;
        margin-bottom: 2px;
    }
    .site-header .btn-vietcap,
    .site-header .btn-golf-better {
        margin: 0px;
        margin-bottom: 15px;
    }
    .home-action .btn {
        margin: 15px 0px;
        font-size: 15px;
    }
    .home-action .btn-download,
    .home-action .btn-associal {
        padding: 10px 0px;
        width: 100%;
    }
    .section-membership .btn{
        font-size: 22px !important;
    }
    .section-membership .price {
        margin-bottom: 10px;
        margin-right: 0px;
        display: inline-block;
    }
    .join-now-banner a{
        margin-right: 0px;
        width: 100%;

    }
    .pmitem-header {
        font-size: 13px;
    }
    .list-clubs .club-detail .club-name {
        margin-top: 0px;
    }
}


/**
 * 8.0 Print
 * ----------------------------------------------------------------------------
 */


@media print {
    body {
        background: none !important;
        color: #000;
        font-size: 10pt;
    }


    .site {
        max-width: 98%;
    }

    .site-header {
        background-image: none !important;
    }

    .site-header .home-link {
        max-width: none;
        min-height: 0;
    }

    .site-title {
        color: #000;
        font-size: 21pt;
    }

    .site-description {
        font-size: 10pt;
    }

    .author-avatar,
    .site-footer,
    .comment-respond,
    .comments-area .comment-edit-link,
    .comments-area .reply,
    .comments-link,
    .entry-meta .edit-link,
    .page-links,
    .site-content nav,
    .widget-area,
    .main-navigation,
    .navbar,
    .more-link {
        display: none;
    }

    .entry-header,
    .entry-content,
    .entry-summary,
    .entry-meta {
        margin: 0;
        width: 100%;
    }

    .page-title,
    .entry-title {
        font-size: 21pt;
    }

    .entry-meta,
    .entry-meta a {
        color: #444;
        font-size: 10pt;
    }

    .entry-content img.alignleft,
    .entry-content .wp-caption.alignleft {
        margin-left: 0;
    }

    .entry-content img.alignright,
    .entry-content .wp-caption.alignright {
        margin-right: 0;
    }

    .format-image .entry-content .size-full {
        margin: 0;
    }

    /* Remove colors from post formats */
    .hentry {
        background-color: #fff;
    }

    /* Comments */
    .comments-area > li.comment {
        background: none;
        position: relative;
        width: auto;
    }

    .comment-metadata {
        float: none;
    }

    .comment-author .fn,
    .comment-reply-link,
    .comment-reply-login {
        color: #333;
    }
    .join-now-banner a {
        margin: 0px;
        width: 100%;
    }
}
